<!DOCTYPE html>
<html ng-app="store">

  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>

  <body ng-controller="StoreController as store">

    <center><h1>Flatlander Crafted Gems</h1></center>
    <center><h2>- an Angular store -</h2></center>
    <br>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="product in store.products">

        <h3>
          {{product.name}}
          <em class="pull-right">{{product.price | currency}}</em>
        </h3>

        <center><img ng-src="{{product.images[0].full}}"/></center>
        <center><img ng-src="{{product.images[1].full}}"/></center>

    <section ng-controller="PanelController as panel">
      <ul class="nav nav-pills">
        <li ng-class="{active: panel.isSelected(1)}">
          <a href ng-click="panel.selectTab(1)">Description</a>
        </li>
        <li ng-class="{active: panel.isSelected(2)}">
          <a href ng-click="panel.selectTab(2)">Specs</a>
        </li>
        <li ng-class="{active: panel.isSelected(3)}">
          <a href ng-click="panel.selectTab(3)">Reviews</a>
        </li>
        </ul>

        <div class="panel" ng-show="panel.isSelected(1)">
          <br>
          <h4>Description</h4>
            <blockquote>{{product.description}}</blockquote>
          </div>
        <div class="panel" ng-show="panel.isSelected(2)">
          <br>
          <h4>Specifications</h4>
            <blockquote>Shine: {{product.shine}}</blockquote>
        </div>
        <div class="panel" ng-show="panel.isSelected(3)">
          <br>
          <h4>Reviews</h4>
            <blockquote>None yet</blockquote>
        </div>
      </section>

  </body>

</html>
